*.bak
*.db
*.sfr
*.vpwhist
*.vpj
*.vpw
*.vtg
*.tmp
*.exe
*.out
*.sim
*.hex
*.map
*.bat
*.pdf
*.pbi
*.cout
*.lst
*.o
*.pbd
*.browse
*.bin
*.sim
*.tmp.c

*.ini

src/main/STM32429I_EVAL
src/main/settings
settings

*.rej
*.dep
*.ewt
*.dep
*.log
*.xcl
*.linf